@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Add a black background color to the top navigation */
html, body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

h2, h3 {
    color: #fff;
}

.container{
    width: 100%;

}
.navbar {
    min-height: 65px;
}

.navbar.navbar-inverse .navbar-brand{
    font-size: xx-large;
    color: white;

}

.navbar.navbar-nav li a{

    float: right;
}

#addpage.navbar .active{
    background-color: #4CAF50;

}


.thumbnail{
    background-color: deepskyblue;
}


.container .second {
    padding: 2%;
    width: auto;
    height: 50px;
    background-color: orange;
}

.client-form-row, .client-button {
    margin-top: 10px;
}

.container .table {
    align-self: center;
    text-align: center;
    border: 4px solid black;
    font-size: x-large;
}

table, tr, th, td{
    text-align: center;
    border: 4px solid black;
}
li{
    display: inline;
}
#menu{
    list-style: none;
}

table {
    margin: 0 auto;
}

.price-form {
    margin: 1px 0 17px 0;
    /* padding: 5%; */
}

#status {
    margin: 0 auto;
    text-align: center;
}

#bold {
    color: black;
    float: left;
}

/* #light {
    margin-right: 0;
} */

#details {
    font-size: 20px;
    margin: 0 0 0 142px; 
    color: #fff;
    background-color: #114911;
    border-color: #043304;
}

#edit {
    font-size: 20px;
    color: #fff;
    background-color: #148fd6;
    border-color: #1773ec;
}

#close {
    font-size: 20px;
    color: #fff;
    background-color: #ee1010;
    border-color: #bd0514;
}